@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
    <!-- background image-->

<section id="background-content">
    <div class="overflow-hidden bg-img">
        <div class="container position-relative py-5">
            <div class="row mt-3 align-items-center pt-3">
                <div class="col-xs-12 col-lg-6 order-2 order-lg-1" style="z-index:1;">
                    <h1 class="text-white text-center size-h1 m-0 mb-4">Hi, I'm Pardeep Salaria</h1>
                    <p class="text-muted m-0 mb-4 text-center size-paragraph">
                        I am a software engineer, blogger, open-source contributor working on Microsoft Technologies in India.
                    </p>
                    <div class="text-center mb-4 mb-lg-0">
                        <a asp-page="/Account/Register"><button class="btn btn-outline-light me-3 px-3 rounded-0 shadow-sm btn-style"><i class="fas fa-check-circle me-1"></i> Sign up</button></a>
                      <a asp-page="/Account/Login"><button class="btn btn-outline-light px-3 rounded-0 shadow-sm btn-style"><i class="fas fa-sign-in-alt me-1"></i> Sign in</button></a>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6 order-lg-2 d-flex justify-content-center justify-content-lg-start">
                    <img src="./img/globe-700.jpg" class="img-fluid mb-4 mb-lg-0" />
                </div>
            </div>
            <img src="~/img/hero-glow.svg" class="svg-style" />
        </div>
    </div>
</section>

    <!-- background image-->
    if (!Model.PostSummaries.Any())
    {
        <!--index without post-->
        <section>
            <div class="container py-5">
                <div class="row">
                    <div class="col-12">
                        <h3 class="m-0 mb-3">Welcome!</h3>
                        <p class="m-0 mb-3">Get started and write your first blog post <a class="text-primary" asp-page="/New">here</a>.</p>
                        <p class="m-0 mb-3">Happy blogging!</p>
                    </div>
                </div>
            </div>
        </section>
        <!--/index without post-->
    }
    else
    {
        <!--index with post-->
        <section id="blog-cards" class="mt-5">
            <div class="container">
                <div class="row">
                    @foreach (var post in Model.PostSummaries)
                    {
                        <div class="col-lg-4 col-md-6 col-12 mb-4">
                            <div class="card border-0 card-shadow">
                                <a class="text-dark text-decoration-none" asp-page="/post" asp-route-id="@post.Id.ToString("N")" asp-route-slug="@post.Slug">
                                    <img title="Read more..." src="https://images.ctfassets.net/2d5q1td6cyxq/6AwFCHfopyKVcOKDYEsdIo/430d5439d881053b420bd38d24f1f656/Squarecheckout.jpg?w=319&h=179&fm=webp&q=85&fit=thumb" class="card-img-top img-thumbnail" alt="loading">
                                </a>
                                <div class="card-body position-relative">
                                    <span class="card-detail text-uppercase position-absolute shadow">Articles</span>
                                    <h5 class="m-0 my-3"><a class="text-primary text-decoration-none" asp-page="/post" asp-route-id="@post.Id.ToString("N")" asp-route-slug="@post.Slug">@post.Title</a></h5>
                                    <p class="m-0">@post.Excerpt</p>
                                </div>
                                <div class="card-footer bg-white">
                                    <div class="float-end text-muted">@post.PublishTime.ToString("MMM dd, yyyy")</div>
                                    <div><a asp-page="/post" class="text-decoration-none text-primary" asp-route-id="@post.Id.ToString("N")" asp-route-slug="@post.Slug"><i class="far fa-comment-dots me-1"></i> @post.CommentCount</a></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!--/index withpost-->
    }
}

