@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";

    if (!Model.PostSummaries.Any())
    {
        @*index without post*@
        <section>
            <div class="container py-5">
                <div class="row">
                    <div class="col-12">
                        <h3 class="m-0 mb-3">Welcome!</h3>
                        <p class="m-0 mb-3">Get started and write your first blog post <a class="text-primary" asp-page="/New">here</a>.</p>
                        <p class="m-0 mb-3">Happy blogging!</p>
                    </div>
                </div>
            </div>
        </section>
        @*index without post*@
    }
    else
    {
        @*index with post*@
        <section id="blog-cards" class="mt-5">
            <div class="container">
                <div class="row">
                    @foreach (var post in Model.PostSummaries)
                    {
                        <div class="col-4 mb-4">
                            <div class="card border-0 card-shadow">
                                <img src="https://images.ctfassets.net/2d5q1td6cyxq/6AwFCHfopyKVcOKDYEsdIo/430d5439d881053b420bd38d24f1f656/Squarecheckout.jpg?w=319&h=179&fm=webp&q=85&fit=thumb" class="card-img-top" alt="loading">
                                <div class="card-body position-relative">
                                    <span class="card-detail text-uppercase position-absolute shadow">Articles</span>
                                    <h5 class="m-0 my-3"><a class="text-dark text-decoration-none" asp-page="/post" asp-route-id="@post.Id.ToString("N")" asp-route-slug="@post.Slug">@post.Title</a></h5>
                                    <p class="m-0 mb-3">@post.Excerpt</p>
                                    <div class="float-end text-muted">@post.PublishTime.ToString("MMM dd, yyyy")</div>
                                    <div><a asp-page="/post" class="text-decoration-none" asp-route-id="@post.Id.ToString("N")" asp-route-slug="@post.Slug"><i class="far fa-comment-dots me-1"></i> @post.CommentCount</a></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        @*index with post*@
    }
}

