@page
@model LoginModel

@{
    ViewData["Title"] = "Welcome Back!";
<<<<<<< HEAD
    Layout = "_Layout-login";
=======
    Layout = null;
>>>>>>> c4755f7133a1d6350d47ac82390a43546403b1da
}

@if (User.Identity.IsAuthenticated)
{
    <p>You are already logged in.</p>
}
else
{
    <!--log in form-->
    <section id="form" class="bg-white">
        <div class="container py-3">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 d-none d-md-block">
                    <img src="~/img/undraw_Hello_qnas.svg" class="img-fluid p-3" />
                </div>
                <div class="col-md-5 col-lg-4 offset-md-1 col-xs-12">
                    @*form*@
                    <form method="post">
                        <h3 class="m-0">@ViewData["Title"]</h3>
                        <p class="text-muted m-0">Log in to continue</p>
                        @*<div asp-validation-summary="All"></div>*@
                        <div class="form-group mt-5">
                            <div class="mb-3">
                                <label asp-for="Input.Email" class="form-label"></label>
                                <input asp-for="Input.Email" class="form-control rounded-0 border-2 border-dark" aria-describedby="emailHelp" placeholder="Example@gmail.com" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Input.Password" class="form-label"></label>
                                <span><a asp-page="./ForgotPassword" class="float-end text-decoration-none text-primary">Forgot password?</a></span>
                                <input asp-for="Input.Password" class="form-control rounded-0 border-2 border-dark" placeholder="*********" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="checkbox mb-3">
                                <label asp-for="Input.RememberMe" class="form-check-label">
                                    <input asp-for="Input.RememberMe" />
                                    <span class="ms-1">@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                                </label>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn bg-primary py-2 text-white mb-3 rounded-0 shadow-sm btn-style">Sign in <i class="fas fa-check-circle ms-1"></i></button>
                            </div>
                            <p class="text-center mb-3">
                                <a asp-page="./Register" class="text-decoration-none text-primary" asp-route-returnUrl="@Model.ReturnUrl"> Don't have account? <span class="fw-bold">Sign up</span></a>
                            </p>
                            @*social icons*@
                            <div class="text-center mb-3">
                                <a href="#"><i class="fab fa-facebook-f social-icon text-white"></i></a>
                                <a href="#"><i class="fab fa-instagram social-icon text-white "></i></a>
                                <a href="#"><i class="fab fa-twitter social-icon text-white"></i></a>
                            </div>
                            @*/social icons*@
                        </div>
                    </form>
                    @*/form*@
                </div>
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        @*<div>
                                               <p>
                                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                            for details on setting up this ASP.NET application to support logging in via external services.
                                        </p>
                            </div>*@
                    }
                    else
                    {
                        <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn bg-primary text-white rounded-0 shadow-sm" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </div>
        </div>
    </section>
    <!--/log in form-->

}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
